<main>
    <div class="container">
        <div class="calbox">
            <label for="week">week:</label>
            <input class="week" type="number" max="13" min="1" value="1">
            <label for="weekday">weekday:</label>
            <select class="weekday">
                <option value="mo" selected>mo</option>
                <option value="tu">tu</option>
                <option value="we">we</option>
                <option value="th">th</option>
                <option value="fr">fr</option>
            </select>
            <button class="btn">attendance</button>
            <textarea class="notes" placeholder="text" type="text"></textarea>
        </div>
    </div>
</main>