    <main>
    <div class="container">
        <div class="calbox">
            <div class="ml-2 mr-3" >
                <label for="week">week:</label>
                <input class="week" type="number" max="13" min="1" value="1">
            </div>
            <div class="ml-2 mr-5" > 
                <label for="weekday">day:</label>
                <select class="weekday">
                    <option value="mo" selected>monday</option>
                    <option value="tu">tuesday</option>
                    <option value="we">wednesday</option>
                    <option value="th">thursday</option>
                    <option value="fr">friday</option>
                </select>
            </div>
            <button class="btn">attendance</button>
            <textarea class="notes mt-2" placeholder="text" type="text"></textarea>
        </div>
    </div>
</main>