<main>
<div class="box">
  <ul class="students__list" >
    
  </ul>
</div>

<template class="template__studentlist">
  <li class="student">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="photo">
    <div class="name">#name#</div>
    <div class="dropdown">
      <img data-toggle="collapse" data-target="#collapse#id#" src="img/contact.png" class="contact-icon" aria-expanded="true">
      <div id="collapse#id#" class="collapse dropdown__content">
        E-mail: #email#
        <br> Mobile: #mobile#
        <br> Birthday: #bday#
      </div>
    </div>
  </li>
</template>

</main>