<main>
<div class="box">
  <ul>
    <li class="student">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="photo">
      <div class="name">Klara Klug</div>
      <a href="#data" data-toggle="collapse" role=“button” aria-expanded=“false” aria-controls=“collapseExample”>
        <img src="../../docs/img/contact.png" class="icon"></a>
      <div class="collapse" id="data">
        <div class="card">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nostrum ipsam vero possimus, dicta minima quaerat vel facere nemo ad saepe quo est dignissimos harum nam culpa, dolorem fuga ipsa?
        </div>
      </div>
    </li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
  </ul>
</div>
</main>