<main>
<div class="box">
  <ul>
    <li class="student">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="photo">
      <div class="name">Klara Klug</div>
      <img src="contact.png" class="icon">
    </li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
    <li class="student"></li>
  </ul>
</div>
</main>