header {
  background-color: #304269;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 2.5rem;
  color: #FFFFFF; 
}

footer {
  height: 15vh;
  position: sticky;
  top: 85%;
  left: 0;
  background: #F26101;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #FFFFFF;
  font-size: 2.5rem;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    transform: scale(1.2)
  }
}