@import '../../node_modules/bootstrap/scss/bootstrap.scss';

header {
  background-color: #304269;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 2.5rem;
  color: #FFFFFF; 
}

main {
  background: #91BED4;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 1em;
  background: #91BED4;
  color: #FFFFFF;
  height:70vh;
}

.calendar__week {
  display: inline;
  width: 2em;
  height: 2em;
  margin: 0;
  border-radius: 20%;
}

.calendar__weekday {
  display: inline;
  height: 2.1em;
  width: 6em;
  margin: 0;

  //border-radius: 20%;
}

.notes {
  display: block;
  width: 100%;
  height: 66%;
}

label {
  font-size: 25px;
}

.calendar__btn{
  text-align: center;
  height: 50px;
  width: 65px;
  border-radius: 3px;
  padding-bottom: 10px;
  border: 2px solid #304269;
  background-color: #FFFFFF;
}

.calendar__btn:hover{
  background: #FFFFFF;
  border-width: 3px;
  border-color: #F26101;
}

footer {
  height: 15vh;
  position: sticky;
  top: 85%;
  left: 0;
  background: #F26101;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #FFFFFF;
  font-size: 2.5rem;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    transform: scale(1.2)
  }
}