@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.container{
  height:70vh;
}
.calbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  background: #91BED4;
}

.week {
  display: inline;
  width: 2em;
  margin: 0 2em 0 1em;
}

.weekday {
  display: inline;
  width: 8em;
  margin: 0 2em 0 1em;
}

.notes {
  display: block;
  width: 100%;
  height: 66%;
}

.btn {
  margin-left: auto;
}
