@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.box {
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

h2 {
  color: white;
  font-size: 2rem;
}

a {
  height: 42.5vh;
  width: 100vw;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &:hover {
    text-decoration: none;

    img, h2 {
      transform: scale(1.5)
    }
  }

  @media (min-width: 600px) {
    height: 50vh;
    width: 40vw;
  }
}

.students {
  background: #e2692b;
}

.calendar {
  background: #334266;
}