@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body{
  height: 100vh;
}

header {
  background-color: #304269;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 70vh;
  overflow-x: scroll;
}

.header-text {
  font-size: 2.5rem;
  color: #FFFFFF; 
}

.box {
  background-color: #91BED4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  width: 100vw;
  padding: 5%;
}

.student{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  height: auto;
  margin-bottom: 1vh;
}

.photo{
  border-radius: 50%;
  width: 9vh;
  height: 9vh;
  object-fit: cover;
  margin: 2px 10px;
  display: flex;
}
.name{
  color: #F26101;
  height: auto;
  width: 80vw;
  font-size: 1rem;
  display: flex;
  padding: 2vh;

  @media (min-width: 600px){
    font-size: 2rem;
  }
}

.dropdown{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
}

.dropdown__content{
  color: #F26101;
  width: 30vw;
  text-align: start;
  border: 3px solid #304269;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.contact-icon{
  object-position: center;
  object-fit: cover;
  top: -30%;
  height: 10vh;
}

footer {
  height: 15vh;
  position: sticky;
  top: 85%;
  left: 0;
  background: #F26101;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #FFFFFF;
  font-size: 2.5rem;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    transform: scale(1.2)
  }
}