@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body{
  height: 100vh;
}

header {
  background-color: #304269;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 2.5rem;
  color: #FFFFFF; 
}

main {
  height: 70vh;
  overflow-y: scroll;
  background-color: #91BED4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
}

.student__list {
  padding: 0;
  width: 90%;

  @media (min-width: 600px) {
    width: 60%;
  }
}

.student{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  height: auto;
  margin-bottom: 1vh;
}

.student__photo {
  border-radius: 50%;
  width: 4rem;
  object-fit: cover;
  margin: 1rem 0 1rem 1rem;

  @media (min-width: 600px) {
    margin: 1rem 0 1rem 3rem;
  }
}

.student__name{
  color: $orange;
  height: auto;
  width: 80vw;
  font-size: 1.5rem;
  display: flex;
  padding: 2vh;

  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

.student__dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 40%;
  text-align: right;
  color: #F26101;
  padding: 1rem 1rem 1rem 0;

  @media (min-width:600px) {
    padding: 1rem 3rem 1rem 0;
  }
}

.student__icon {
  width: 3rem;
}

.student__dropdown--content {
}

footer {
  height: 15vh;
  position: sticky;
  top: 85%;
  left: 0;
  background: #F26101;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #FFFFFF;
  font-size: 2.5rem;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    transform: scale(1.2)
  }
}